@media only screen and (min-width: 32.5em) {
   
    main {
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        font-size: 2.5rem;
                
    }

    h3 {
        font-size: 1.5rem;
        
      }

      header {
        border-radius:20px;
        
    }

    footer {
        border-radius:20px;
        
    }

    img {
        float: right;
        max-height: 250px;
      }


    
}