
@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Quicksand&display=swap');

body {
    background-color: #42d0f0;
    max-width:960px;
    padding: 5px 25px;
    font-size: 18px;
    margin:0 auto;
}
header {
    background-color:#39b54a;
    padding:5px;
    color:#e0ec38;
    text-align:center;
    font-family: 'Pompiere',veranda, sans-serif;
}

img {
  
  max-height: 250px;
  float: right;
}

nav a:hover {
  color:#39b54a;
}

main {
    margin:15px;
}
h2 {
    font-size: 1.5rem;
    margin-top:1.5em;
    padding:2px;
    
}

h3 {
  font-size: 1rem;
  border-top: 10px double;
  border-bottom: 10px double;
  font-family: 'Quicksand', veranda, sans-serif;
}
footer {
    background-color:#39b54a;
    padding: 5px;
    margin-top:2em;
    color:#e0ec38;
    text-align:center;
    font-family: 'Pompiere',veranda, sans-serif;
}


