
body {
    background-color: #42d0f0;
    max-width:960px;
    padding: 5px 25px;
    font-size: 18px;
    margin:0 auto;
}
header {
    background-color:#39b54a;
    padding:5px;
    border-radius:20px;
    color:#e0ec38;
    text-align:center;
}

img {
  float: right;
  max-height: 250px;
}

nav a:hover {
  color:#39b54a;
}

main {
    margin:15px;
}
h2 {
    margin-top:1.5em;
    padding:2px;
    
}

h3 {
  border-top: 10px double;
  border-bottom: 10px double;
}
footer {
    background-color:#39b54a;
    padding: 5px;
    margin-top:2em;
    border-radius:20px;
    color:#e0ec38;
    text-align:center;
}


