@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

   /* nav ul {
        display: flex;
      }
      nav ul li {
        flex: 1 1 100%;
      }
    
      nav a {
        font-size: 1rem;
      }
    }*/

    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 auto;
    }
    .navigation a {
      text-align: center;
    }
    .navigation li:first-child {
      display: none;
    }
  

  .five {
    display: flex;
    flex-flow: row wrap;
  }
  
  .five-col {
    flex: 1 1 auto;
    background-color: white;
  }
  .five-col {
    border-bottom: 1px solid var(--accent3-color);
    border-left: 1px solid var(--accent3-color);
    text-align: center;
  }
  
  .five {
    border-right: 1px solid var(--accent3-color);
  }

  .grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 100%;
  }
  
  .grid-col img {
    margin: 10px auto;
    position: relative;
    max-width: 100%;
  }
}
  