@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

   /* nav ul {
        display: flex;
      }
      nav ul li {
        flex: 1 1 100%;
      }
    
      nav a {
        font-size: 1rem;
      }
    }*/

    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 auto;
    }
    .navigation a {
      text-align: center;
    }
    .navigation li:first-child {
      display: none;
    }
  }