@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

tbody {
    background-color:  #e7ffed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
    
  }

td, th, tr {
    text-align: center;
    padding: 10px;
    font-weight: bold;
   }

td {
    font-size: smaller;
}

thead {
    font-size: larger;
    background-color: #7fb9c2;
}

tbody tr:first-child {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(6) tr:nth-child(1) {
    font-style: italic;
}

tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: x-small;
    background-color: #7fb9c2;
}

table {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 5px 5px 5px grey;

}