@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

body {
    background-color: #3692C3;
    padding: 5px 5px;
    /*font-size: 18px;*/
    margin:0 auto;
    font-family: 'Open Sans Condensed', veranda, sans-serif;
}

header {
    background-color:#D9f7FA;
    padding:50px;
    color:#482728;
    text-align:center;
    font-family: 'Raleway',veranda, sans-serif;
}