@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

   /* nav ul {
        display: flex;
      }
      nav ul li {
        flex: 1 1 100%;
      }
    
      nav a {
        font-size: 1rem;
      }
    }*/

    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 auto;
    }
    .navigation a {
      text-align: center;
    }
    .navigation li:first-child {
      display: none;
    }
  

  .five {
    display: flex;
    flex-flow: row wrap;
  }
  
  .five-col {
    flex: 1 1 auto;
    background-color: white;
  }
  .five-col {
    border-bottom: 1px solid var(--accent3-color);
    border-left: 1px solid var(--accent3-color);
    text-align: center;
  }
  
  .five {
    border-right: 1px solid var(--accent3-color);
  }
  
  .col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-align: center;
  }
  
  .fiveimg {
    border-radius: 100px;
    padding: 0.25rem;
  }
  
  .data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .col-head {
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--accent3-color);
    color: var(--secondary-color);
  }

  .weathersummary
{
  position: absolute;
  top: 25px;
  left: 15px;
  padding: 0.5% 1% 0.5% 1%;
  background-color: #0075A2;
  border: 1px solid #E58F65;
  border-radius: 10px;
  opacity: .8;
  color: #EDD9A3;
  text-align: center;
    }

}
  