body {
    background-color: #42d0f0;
    max-width:960px;
    padding: 5px 25px;
    font-size: 18px;
    margin:0 auto;
}

header {
    background-color:#39b54a;
    padding:5px;
    border-radius:20px;
    color:#e0ec38;
    text-align:center;
    font-family: 'Pompiere',veranda, sans-serif;
}

h2 {
    color: blue; margin:0;border-bottom:1px dashed #999;}
    section {margin: 10px auto;width: 400px;border:1px solid #bbb;background-color:#eee; padding:2px;}
    


footer {
    background-color:#39b54a;
    padding: 5px;
    margin-top:2em;
    border-radius:20px;
    color:#e0ec38;
    text-align:center;
    font-family: 'Pompiere',veranda, sans-serif;
}