@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

body {
    background-color: #3692C3;
    padding: 5px 5px;
    margin:0 auto;
    font-family: 'Open Sans Condensed', veranda, sans-serif;
}

header {
    background-color:#D9f7FA;
    padding: 1px;
    color:#482728;
    text-align:center;
    font-family: 'Raleway',veranda, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }


main {
    padding: 5px 25px;
  
  margin:0 auto;
  
  max-width: 960px;
}
.navigation {
    list-style: none;
    padding: 0;
    }
    .navigation li:first-child {
    display: block;
    }
    .navigation li {
    display: none;
    }
    .navigation a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #3692C3;
    font-weight: 1000;
    }
    .navigation a:hover {
    color: #482728;
    background-color: #3692C3;
    }
    
   
    
    .responsive li {
        display: block;
        }

    .active {
        color: #3692C3;
        background-color: #74C365;
        font-weight: 1000;
            }

            .cards {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                align-items: center;
                
            }

            section {
         
                justify-items: center;
                background-color: #74c365;
                padding: 5px;
                border-radius: 10px 10px 10px 10px;
                margin: 5px;
                height: 95%;
                display: block;
                text-align: center;
                
            }
            
            
            section img {
                width: 50%;
              }


            iframe {
                display: none;
              }

              .info {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                width: 100%;
              
              }

              .events {
                top: 25px;
                left: 15px;
                padding: 0.5% 1% 0.5% 1%;
                background-color: #D9f7FA;
                border-radius: 10px;
                color: #3692C3;
                text-align: center;
                margin: 5px;
              }

.weathersummary
{
  /*position: absolute;*/
  top: 25px;
  left: 15px;
  padding: 0.5% 1% 0.5% 1%;
  background-color: #D9f7fa;
  border-radius: 10px;
  color: #3692C3;
  text-align: center;
    }

     
    
      
      
      .generic-grid {
        display: grid;
        grid-template-columns: auto / auto auto auto;
      }
      
      .left {
        grid-column: 2;
        padding: 10px;
      }
      
      .right {
        grid-column: 3;
      }

      form {
        background-color: #74c365;
        border-radius:10px 10px 10px 10px;
        margin: 0 auto;
        text-align: center;
        max-width: 960px;
        }
      
      form fieldset {
        padding:5px;
        border-radius:10px 10px 10px 10px;
        text-align: center;
      }
      
      legend {
        font-size: x-large;
        color: #482728;
      }
      
      .thanks {
        text-align: center;
      }
      
      .data {
        font-size: 0.8rem
      }
                    

            footer {
                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                background-color:#D9f7fa;
                padding: 10px;
                height: 225px;
                width: auto;
                color:#482728;
                text-align:center;
                font-family: 'Raleway',veranda, sans-serif;
                margin: auto;
                width: 100%;
                font-family: 'Open Sans Condensed', veranda, sans-serif;
                
                
                }  
            
                  

   

    

    
    